
body {
    display: flex
}

.right {
    display: flex;
    flex-direction: column;    
    justify-content: space-between
}

fieldset {
    display: flex;
}

.form-cell{
    display:flex;
    flex-direction: column; 
}
